.bookmarks-wrapper {
    height: 100%;
}

.bookmark-tiles-container {
    display: flex;
    gap: 20px;
    justify-content: center;

    flex-wrap: wrap;
}

.btn{
    padding: 10px;
}
.add-btn i {
    margin-right: 3px;
    margin-left: -3px;
}

.manage-btn i {
    margin-right: 6px;
    opacity: 0.9;
}