.bookmarks-wrapper {
    height: 100%;
}

.bookmark-tiles-container {
    display: flex;
    gap: 1.25rem;
    justify-content: center;

    flex-wrap: wrap;
}

.btn{
    padding: .625rem;
}
.add-btn i {
    margin-right: .1875rem;
    margin-left: -0.1875rem;
}

.manage-btn i {
    margin-right: .375rem;
    opacity: 0.9;
}