.add-note-wrapper {
    padding: 20px;
    border-radius: 5px;
}

h2{
    font-size: 30px;
}
form{
    padding-top: 0px;
}
input{
    height: 35px;
}
.textbox{
    font-size: 17px;
}
.textarea{
    font-size: 17px;
}
.btn{
    padding: 10px; 
    font-size: 17px;
}